:root {
  --main-font: "Roboto", sans-serif;
  --title-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  font-family: var(--main-font);
  font-size: 14px;
  color: #757575;
}

.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-web {
  color: #2196f3;
}

.footer .logo-studio {
  color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.navigation-list-link,
.navigation-address {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  color: #757575;
}

/*hero*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn,
.footer-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*Чем мы занимаемся*/
.subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.we-do-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.we-do-items {
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*color: #ffffff;*/
}

/*Наша команда*/
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Футер*/
.footer-address-item,
.footer-address,
.footer-address-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /*color: #FFFFFF;*/
}

.footer-address-mail,
.footer-address-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-text {
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*color: #ffffff;*/
}
